@model IEnumerable<Day13Lab1.Models.Anagraphic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VAT)
            </th>
            <th>Lista Indirizzi</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VAT)
            </td>
            <td>
                <ol>
                    @foreach(var addr in item.AddressList) {
                        <li>@addr.AddressText</li>
                    }
                </ol>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnagraphicID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnagraphicID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnagraphicID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
